.jumbotron {
    height: 500px;
}

.index-btn {
    width: 100px;
}

a.card {
    color: black;
}

a:hover {
    text-decoration: none !important;
    color: black;
}

.card { 
    transition: all .3s ease-in-out;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15); 
}

.card:hover { 
    transform: scale(1.1); 
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}