{% extends "layout.html" %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>

            <!-- {% for transaction in transactions %}
                <tr>
                    <td>{{transaction['symbol']}}</td>
                    <td>{{transaction['quantity']}}</td>
                    <td>${{transaction['price']}}</td>
                    <td>{{transaction['created']}}</td>
                </tr>
            {% endfor %} -->

        </tbody>
    </table>
{% endblock %}