{% extends "layout.html" %}

{% block main %}
<div class="jumbotron jumbotron-fluid">
    <div class=" text-center">
        <h1 class="display-4">Simplify Subscription
            Management with Subman</h1>
        <p class="lead">Scale your subscriptions painlessly with flexible plan management.</p>
    </div>

    <div class="container w-50 mt-5 text-center">
        <a href="/login" type="button" class="btn btn-secondary mr-5 index-btn">Login</a>
        <a href="/register" type="button" class="btn btn-secondary index-btn">Register</a>

    </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
          <div class="container">
            <p class="navbar-text small">© Houda Aynaou</p>
          </div>
</div>
{% endblock %}