{% extends "layout.html" %}
  
{% block main %}
<div class="container w-25  mt-5">
    <h2 class="my-5">Login in</h2>
    
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <b>Error:</b> {{ error }}
        </div>
    {% endif %}

    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" required>
        </div>
        <button class="btn btn-secondary" type="submit">Log In</button>
    </form>

</div>
{% endblock %}